$background: lighten(pink, 5%);

$nav-background: darken($background, 70%);
$nav-hover: darken($nav-background, 10%);
$nav-text: lighten($nav-background, 100%);
$nav-active: lighten($nav-background, 27%);
$nav-select: red;

$error: red;
$success: green;

$main-text: black;
$main-accent: lighten($background, 10%);